@{
    ViewData["Title"] = "Home Page";
}
@model TheWall.Models.RegisterViewModel

<form action="Login" method="post">
    <fieldset>
        <h3> Login </h3>
        <p>
           
            <label for="LogEmail"> Email </label>
            <input type="text" name="LogEmail" id="LogEmail"/>

        </p>
        <p>
           
            <label for="LogPassword"> Password </label>
            <input type="password" name="LogPassword" id="LogPassword"/>
        </p> 
        <input type="submit" value="Login">
    </fieldset>  
</form>
<form asp-controller="Login" asp-action="Register" method="post">
    <fieldset>
            <h3>Register</h3> 
        <p>
            <span asp-validation-for="FirstName"></span>
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName">
        </p>
        <p>
            <span asp-validation-for="LastName"></span>
            <label asp-for="LastName"></label>
            <input asp-for="LastName">
        </p>
        <p>
            <span asp-validation-for="Email"></span>
            <label asp-for="Email"></label>
            <input asp-for="Email">
        </p>
        <p>
            <span asp-validation-for="Password"></span>
            <label asp-for="Password"></label>
            <input asp-for="Password">
        </p>
        <p>
            <span asp-validation-for="Confirm"></span>
            <label asp-for="Confirm"></label>
            <input asp-for="Confirm">
        </p>
        <button type="submit"> Register </button>
    
    </fieldset>    
</form>    

@if (ViewBag.message != null)
{
    <p>@ViewBag.message</p>

}  

